@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Nobile:700);

.brand
{
  font-family: 'Rock Salt', cursive;
}

#landingTop
{
  min-height: 100px;
  background-color: #676767;
  padding-bottom: 50px;
}

.bigQuote
{
  width: 95%;
  font-family: 'Nobile', sans-serif;
  text-shadow: 0 1px 2px #000000;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
}

#landingPic
{
  width: 80%;
  padding-top: 30px;
  display: block;
  margin: auto;
}

.formTitle
{
  color: #ffffff;
  padding-bottom: 2px;
}

#loginForm input, #registerForm input
{
  width: 95%;
  display: block;
}

#loginForm button, #registerForm button
{
  float: right;

}

.clear
{
  clear:both;
}

#mainContainer
{
  min-height: 99%;
}

#main
{
  overflow:auto;
	padding-bottom: 50px; /* must be same height as the footer */
}

html, body
{
  height: 99%;
}

footer
{
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
}

footer a
{
  display: inline-block;
  padding: 0px 5px;
}

#alertBox
{
  position: fixed;
  width:300px;
  height:20px;
  z-index: 9002;
}

#popUpDivMsg
{
  text-align: center;
}

#navSpacing
{
  height: 60px;
}

.textRight
{
  text-align: right;
}

.textCenter
{
  text-align: center;
}

.btn
{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.viewCenter
{
  position:absolute;
  top: 40%;
}

.disableSelect
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}